{% extends 'base.html' %}

{% load static %}

{% load materializecss %}

{% block content %}
<div class="container">
    <h3 class="title">All Employees</h3>

    <div class="row">
        <div class="col">
            <ul>
                <a class="waves-effect waves-light btn" href="{% url 'index' %}">Home</a>
                <a class="waves-effect waves-light btn" href="{% url 'profile_create' %}">Create Profile</a>
            </ul>
        </div>
    </div>


    <div class="collection">
        <table id="employee_list" class="striped">
            <tr>
                <th class="center-align">Emp No</th>
                <th class="center-align">First Name</th>
                <th class="center-align">Last Name</th>
                <th class="center-align">Update Action</th>
                <th class="center-align">Delete Action</th>
            </tr>
            {% for employee in employee_list %}
            <tr>
                <td class="collection-item" >
                    <a href="{% url 'profile_detail' employee.emp_no %}">{{employee.emp_no}}</a>
                </td>
                <td class="collection-item" >{{employee.first_name}}</td>
                <td class="collection-item" >{{employee.last_name}}</td>
                <td class="collection-item center-align">
                    <a class="btn" href="{% url 'profile_update' employee.emp_no %}">Update</a>
                </td>
                <td class="collection-item center-align">
                    <a class="btn red" href="{% url 'profile_delete' employee.emp_no %}" onclick="return confirm('Are you sure you want to delete: {{ employee.first_name }} {{ employee.last_name }}?');">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% if is_paginated %}
    <ul class="pagination center-align">
    {% if paginator.num_pages < 5 %}
        {% for number in paginator.page_range %}
            {% if number == page_obj.number %}
                <li class="active"><a href="?page={{ number }}">{{ number }}</a></li>
            {% else %}
                <li class="wave-effect"><a href="?page={{ number }}">{{ number }}</a></li>
            {% endif %}
        {% endfor %}
    {% else %}
        {% if page_obj.number|add:"2" in paginator.page_range and page_obj.number|add:"-2" in paginator.page_range %}
            {# o o x o o #}
            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number|add:"-1" }}">{{ page_obj.previous_page_number|add:"-1" }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number|add:"1" }}">{{ page_obj.next_page_number|add:"1" }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number|add:"2" }}">{{ page_obj.next_page_number|add:"2" }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
        {% if not page_obj.number|add:"2" in paginator.page_range and page_obj.has_next %}
            {# o o o x o #}
            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number|add:"-2" }}">{{ page_obj.previous_page_number|add:"-2" }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number|add:"-1" }}">{{ page_obj.previous_page_number|add:"-1" }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
        {% if not page_obj.number|add:"-2" in paginator.page_range and page_obj.has_next and page_obj.has_previous %}
            {# o x o o o #}
            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number|add:"1" }}">{{ page_obj.next_page_number|add:"1" }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number|add:"2" }}">{{ page_obj.next_page_number|add:"2" }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
        {% if not page_obj.has_previous %}
            {# x o o o o #}
            <li class="disabled"><a href=""><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number|add:"1" }}">{{ page_obj.next_page_number|add:"1" }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number|add:"2" }}">{{ page_obj.next_page_number|add:"2" }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number|add:"3" }}">{{ page_obj.next_page_number|add:"3" }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
        {% if not page_obj.has_next %}
            {# o o o o x #}
            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number|add:"-3"  }}">{{ page_obj.previous_page_number|add:"-3"  }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number|add:"-2" }}">{{ page_obj.previous_page_number|add:"-2" }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number|add:"-1" }}">{{ page_obj.previous_page_number|add:"-1" }}</a></li>
            <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
            <li class="disabled"><a href=""><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
    {% endif %}
    </ul>
{% endif %}

</div>
{% endblock %}